<div class="row">

  <!-- Blog Post Content Column -->
  <div class="col-lg-8">

    <form ng-submit="save()">
      <!-- Title -->
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="post.title" placeholder="Blog Post Title">
      </div>

      <hr>

      <!-- Preview Image -->
      <div ngf-drop ngf-select ng-model="post.image"
           ngf-drag-over-class="'dragover'" ngf-multiple="false"
           accept="image/*"
           ngf-pattern="'image/*'">
        <div class="drop-box" ng-hide="post.image">Drop images here or click to add image</div>
        <img class="img-responsive" alt="" src="{{imageSrc}}" ng-hide="!post.image">
      </div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

      <hr>

      <div class="form-group">
        <textarea class="form-control" rows="20" ng-model="post.content"></textarea>
      </div>

      <hr>

      <button type="submit" class="btn btn-primary btn-lg" ng-disabled="post.title == '' && post.image == null && post.content == ''">Save</button>
      <button type="button" class="btn btn-warning btn-lg" ng-click="reset()">Reset</button>
    </form>

  </div>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
      <h4>Simple Blog</h4>
      <p>It's very simple blog</p>
      <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
      <h4>Latest Post</h4>
      <div class="row" ng-repeat="p in posts">
        <div class="col-xs-3 text-center">
          <a class="story-img" href="#/post/{{p.id}}"><img src="/api/files/{{p.image}}" style="width:60px;height:60px" class="img-circle"></a>
        </div>
        <div class="col-xs-9">
          <a href="#/post/{{p.id}}"><h4>{{p.title}}</h4></a>
          <div class="row">
            <div class="col-xs-9">
              <ul class="list-inline">
                <li>{{p.created_at|timeago}}</li>
                <li><i class="glyphicon glyphicon-comment"></i> {{p.comments.length}} Comments
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
      <h4>Quote of this day</h4>
      <p style="font-style: italic;">“Life is not complex. We are complex. Life is simple, and the simple thing is the right thing.”</p>
      <p>— Oscar Wilde</p>
    </div>

  </div>

</div>
<!-- /.row -->

