<!doctype html>
<html ng-app="simpleBlogApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li ng-show="loggedIn">
              <a href="#/"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user.name}}</a>
            </li>
            <li ng-show="loggedIn">
              <a href="#/newpost"><i class="glyphicon glyphicon-plus"></i>&nbsp; New Post</a>
            </li>
            <li  ng-hide="loggedIn">
              <a href="#/register">Register!</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right" ng-submit="login()" role="form" ng-hide="loggedIn">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" ng-model="username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <div class="checkbox">
              <label style="color: #ffffff">
                <input type="checkbox" ng-model="remember"> Remember me!
              </label>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
          <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
            <li>
              <a ng-href="#logout" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i>&nbsp; Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <div ng-view=""></div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Simple Blog 2016</p>
            <p>
              13512074 - Jacqueline Ibrahim <br>
              13512100 - Luthfi Hamid Masykuri
            </p>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
//       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
//       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
//       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
//       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
//
//       ga('create', 'UA-XXXXX-X');
//       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ng-timeago/ngtimeago.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/post.js"></script>
        <script src="scripts/controllers/newpost.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/editpost.js"></script>
        <!-- endbuild -->
</body>
</html>
